:root{
	--bar-color: #881288;

    --timer-long: 5s;

    --barWidth: 1%;
}



* {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav, label, p,
.navbar-brand, .navbar-toggler, .nav-link  {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

/**** SHARED STRUCTURE STYLES ****/


.navbar-collapse {
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
}
.navbar-collapse li {
    padding: 0 15px;
}
.navbar-collapse .sub {
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
}

/**** STAR CHART STYLES ****/

.list-group-item {
    background-color: transparent;
    border: 2px solid #666;
    border-bottom: none;
}
.list-group-item:last-child {
    border-bottom: 2px solid #666;
}

.bar-section {
    padding: 30px 0;
}
.bar-section h2 {
    display: inline-block;
    color: #fff;
}
.bar-section .edit-button {
    margin: -10px 0 0 25px;
}
.bar-section button {
    margin: 10px 45px;
}
.bar-chart {
    display: flex;
    height: 40px;
    width: calc(100% - 84px);
    margin-bottom: 15px;
    border: 2px solid #222;
}
.bar-chart div {
    height: 100%;
    width: var(--barWidth);
    background-color: #6edff6;
    border: 2px solid #055160;
    color: #6edff6;
    margin: 0 1px;
}
.bar-chart div.ph {
    width: 20px;
}
.bar-container {
    display: flex;
}
.bar-chart-goal {
    width: 84px;
    height: 60px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-amount {
    font-weight: 800;
    font-size: 28px;
    color: #6edff6;
    margin-left: 10px;
}
.bar-chart-goal.reached {
    box-shadow: 0 0 40px 20px gold;
}
.bar-chart-goal.reached input {
    background-color: #000;
}
.bar-chart-goal h2 {
    width: 100%;
    height: 60px;
    background-color: #332701;
    border: 5px solid #664d03;
    color: #ffda6a;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
}
.bar-chart-text {
    width: 100%;
}

#drinkBar {
    --barWidth: 1%;
}